<h1>Sign Up as Patient</h1>

<%= form_with model: @patient do |form| %>
  <div>
    <%= form.label :name %><br>
      <%= form.text_field :name %>
        <% @patient.errors.full_messages_for(:name).each do |message| %>
          <div>
            <%= message %>
          </div>
          <% end %>
  </div>

  <div>
    <%= form.label :disease %><br>
      <%= form.text_area :disease %>
        <% @patient.errors.full_messages_for(:disease).each do |message| %>
          <div>
            <%= message %>
          </div>
          <% end %>
  </div>
  <div>
    <%= form.label :age %><br>
      <%= form.text_field :age %>
        <% @patient.errors.full_messages_for(:age).each do |message| %>
          <div>
            <%= message %>
          </div>
          <% end %>
  </div>

  <div>
    <%= form.label :gender %><br>
      <%= form.text_field :gender%>
        <% @patient.errors.full_messages_for(:gender).each do |message| %>
          <div>
            <%= message %>
          </div> 
          <% end %>
  </div> 
  <div>
     <%= form.label :password %> <br>
     <%= form.password_field :password%>   <br>
     <%= form.label :password_confirmation%> <br>
     <%= form.password_field :password_confirmation%>
     <% @patient.errors.full_messages_for(:password_confirmation).each do |message| %>
     <div> <%= message %> </div>
     <% end %>
  </div>


  <div>
    <%= form.submit %>
  </div>
  <% end %>