<h1>All Available Doctors</h1>
   
  <% @doctors.each do |doctor| %> 
  <%= doctor.id %>
        <div> <%=  link_to doctor.name ,doctor %> </div>
    <div> <%= doctor.specialization %> </div>
 <% end %>

  <!-- <h3><%= link_to "Sign up as a Doctors ", new_doctor_path %> </h3>  -->
 
   <h3><%= link_to "Sign up as a Patient", new_patient_path %> </h3>   
  <h2> <%= link_to "login", login_path %> </h2>


  