<h1> Home page doctor#index </h1>

<h1>All Available Doctors</h1>
   
  <% @doctors.each do |doctor| %> 
  <%= doctor.id %>
     <%=  link_to doctor.name ,doctor %> <br>
     <%= doctor.specialization %> <br><br>
 <% end %>
 <br>




<% if @current_patient %>
    <%= link_to 'Logout', '/logout', :data => { :confirm => 'Are you sure?' }%>
<% else %>
    <%= link_to 'Signup', new_patient_path %>
    <%= link_to 'Login', '/login'%>
<% end %>

  