<h1> Add new Doctor </h1> 
<%= form_with model: @doctor do |form| %>
  <div>
     <%= form.label :name %> <br>
     <%= form.text_field :name %> 
     <% @doctor.errors.full_messages_for(:name).each do |message| %>
     <div> <%= message %> </div>
     <% end %>
  </div>
  <div>
    <%= form.label :specialization %><br>
    <%= form.text_area :specialization%>
    <% @doctor.errors.full_messages_for(:specialization).each do |message| %>
     <div> <%= message %> </div>
     <% end %>
  </div>
  <div>
     <%= form.label :password_digest %> <br>
     <%= form.text_field :password_digest %> 
     <% @doctor.errors.full_messages_for(:password_digest).each do |message| %>
     <div> <%= message %> </div>
     <% end %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>



